{% extends "layout.html" %}

{% block body %}

    <div class="container">
        <h1>List {{ list.title }}</h1>
            <div class="card mt-2">
                <div class="card-body">

                    <div class="row">
                        <div class="col-6">
                            <img class="profile-pic" src="{{ list.photo.url }}" height="350" width="400">
                        </div>
                        <div class="col-6">
                            <h1>{{ list.title }}</h1>
                            <div class="row">
                                <div class="col-6">
                                    Start price <b>${{ list.start_bid }}</b>
                                </div>
                                <div class="col-6">
                                    {% if user.is_authenticated %}
                                        <form action="{% url 'auctions:watch_list' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="list_id" value="{{ list.id }}">
                                            {% if list.watched == True %}
                                                <input type="submit" class="btn btn-sm btn-danger" value="Remove from Watchlist">
                                            {% else %}
                                                <input type="submit" class="btn btn-sm btn-success" value="Add to Watchlist">
                                            {% endif %}
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class="row">

                                <div class="col-12">
                                    <p>Actual price: {{ list.current_bid }}</p>
                                    {% if message %}
                                        <p>{{ message|safe }}</p>
                                    {% endif %}
                                    <form action="{% url 'auctions:offer_bid' list.id %}" method="POST">
                                        {% csrf_token %}
                                        {{ offer_bid_form }}
                                        <input type="submit" class="btn btn-sm btn-success mt-2" value="Give offer">
                                    </form>
                                </div>

                            </div>
                            <hr>
                            <p>{{ list.description }}</p>
                            <p>Created on date {{ list.created_at }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mt-4">
                            <h4>Comments</h4>
                            {% if list.active %}
                                <div class="form-group">
                                    <form action="{% url 'auctions:add_comment' list.id %}" method="POST">
                                        {% csrf_token %}
                                        {{ comment_form }}
                                        <input type="submit" class="mt-2"  value="Add Comment">
                                    </form>
                                </div>
                            {% endif %}
                            {% for comment in comments %}
                                <div class="card">
                                <div class="card-header">{{ comment.user }} commented on {{ comment.createdDate|date:"M, d"  }}</div>
                                    <div class="card-body">
                                        <h5 class="card-title"> {{ comment.content }}</h5>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>
        </div>

{% endblock %}
